<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src={{recipe.user.userPhoto}} class="example-header-image">
    <mat-card-title>{{recipe.recipeTitle}}</mat-card-title>
    <mat-card-subtitle>{{recipe.user.userName}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src={{recipe.photos[0].recipePhotoPath}} alt="Photo">
  <mat-card-content>
    <p>{{recipe.recipeDescription | lenghtFilter: 80}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Подробнее</button>
  </mat-card-actions>
</mat-card>
